@import "../styles/commons.scss";

.container {
  color: var(--clr-white);
  min-height: 100vh;
  * {
    color: var(--clr-white);
  }
  background-color: var(--clr-bg-dark);
}

.nftStoryContainer {
  @extend .flexCol;
  margin-right: 0.5rem;
  p {
    margin-top: 0.3rem;
    font-size: 0.7rem;
    font-weight: 500;
  }
}
.nftStories {
  max-width: 100%;
  overflow: auto;
  margin: auto;
  margin: 10px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  @extend .flexRow;
  .nftStory {
    min-width: 50px;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid white;
    @extend .flexRow;
    align-items: center;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.personInfo {
  padding-top: 2rem;
  padding: 1.5rem 10px;
  @extend .flexRow;
  .right {
    @extend .flexCol;
    align-items: flex-start;
    margin-left: 0.5rem;
  }
  .name {
    @extend .flexRow;
    p {
      margin-right: 0.4rem;
      line-height: 150%;
    }
  }
  .heading {
    font-size: 1rem;
    font-weight: 700;
  }
  .subHeading {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--clr-grey);
  }
}
