@import "../../styles/commons.scss";

.btn {
  border-radius: 50px;
  padding: 0.8rem 1.6rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}

.primary {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

.secondary {
  background-color: #363636;
  color: var(--clr-white);
}
